{% extends "reviews/base.html" %}

{% block title %} Remove Review {% endblock %}

{% block content %}
    <div>
        <!-- Form di eliminazione -->
    <button id="openModalButton">Elimina</button>
    </div>
    <div id="deleteModal" class="modal">
        <div class="modalContent">
            <h3>Sicuro di voler eliminare {{ review.username_form }} ?</h3>
            <form id="deleteForm" action="{% url "review_delete" review.pk %}" method="POST">
                {% csrf_token %} 
                <button type="submit">SI</button>
                <button type="button" id="closeModalButton">NO</button>
            </form>
        </div>

    </div>

    <script>
        document.getElementById('openModalButton').addEventListener('click', function() {
            document.getElementById('deleteModal').style.display = 'flex';
        });

        document.getElementById('closeModalButton').addEventListener('click', function() {
            document.getElementById('deleteModal').style.display = 'none';
        });
    </script>
{% endblock %}