{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Review</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static "reviews/index.css"%}">
    </head>
    <body>
        <form action="/" method="POST">
            {% csrf_token %}
            {% comment %} {% if has_error %}
                <p>Il campo username non può essere lasciato vuoto</p>
            {% endif %}
            <label for="username">Your name</label>
            <input id="username" name="username" type="text"> {% endcomment %}

            <!-- LA CLASSE errors NEL CSS VIENE ATTIVATA SOLO SE form.username_form HA ERRORI-->
            <div class="form-control {% if form.username_form.errors %} errors {% endif %}">
                {{ form.username_form.label_tag }}
                {{ form.username_form }}
                {{ form.username_form.errors }}
            </div>
            <button type="submit">Send</button>
        </form>
    </body>
</html>